
<%= form_for(request) do |f| %>
  <% if request.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

    <ul>
      <% request.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <div class="row">
    <div class="field">
      <%= f.label :table_id %>
      <div style="color:black"> 
        <%= f.collection_select :table_id, Table.order(:number), :id, :number, include_blank: true, :prompt => "Selecciona una mesa" %> 
      </div>  
    </div>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div class="row">
<div class="container col-md-12">
  
 
      <div class="tables">
        <ul>
          <li>Mesa 1</li>
          <li>Mesa 2</li>
          <li>Mesa 3</li>
          <li>Mesa 4</li>
          <li>Mesa 5</li>
          <li>Mesa 6</li>
          <li>Mesa 7</li>
          <li>Mesa 8</li>
          <li>Mesa 9</li>
          <li>Mesa 10</li>
          <li>Mesa 11</li>
          <li>Mesa 12</li>
        </ul>
      </div> 
</div>
</div>



<style>

  .tables  ul  li{

    width: calc(80% / 6 - 20px);
    min-width: 60px;
    height: calc(100% / 6 - 20px);
    min-height: 60px;
    background-color: red;
    margin:10px ;
    list-style: none;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height:  calc(50vw / 6 - 20px);
    font-size: 20px;

  }

  .tables ul li:hover{
    background-color: grey;
  }



</style>

