<div class="container">
<%= form_for(request) do |f| %>
  <% if request.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

    <ul>
      <% request.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <div class="row">
    <div class="field">
      <%= f.label :Mesa %>
      <div style="color:black"> 
        <%= f.collection_select :table_id, @tables, :id, :number, include_blank: true, :prompt => "Selecciona una mesa" %> 
      </div>  
    </div>
  </div>
  <br>

  <div class="actions">
   
  <%= f.submit nil, :class => 'btn-primary' %>
  </div>
<% end %>

</div>