<p id="notice"><%= notice %></p>

<h1>Pedido</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Mesa N°</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
    <tr>
      <td><%= request.table.number %></td>
      <td><%= request.comment %></td>
      <td><%= link_to 'Actualizar Pedido', request_path(request.id) %></td>
      <td><%= link_to 'Eliminar Pedido', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Pedido', new_request_path %>
