<p id="notice"><%= notice %></p>

<div class="row ">
  <div class="col-md-12">
    <div class="col-md-6">

      <table class="table table-striped table-hover " style="border-right: solid 0.5px grey; ">
        <thead>
          <tr> 
           <h3>Seleccionar Productos</h3> 
           <br>
         </tr>
       </thead>

       <tbody>
        <% @products.each do |product| %>
        <tr>
          <td><%= image_tag(product.photo, size: "60x40") %></td>
          <td><%= product.name %></td>
          <td>
            <div class="">
             <%= link_to 'Agregar al Pedido', request_product_orders_path(@request.id,product.id), method: :post, remote: true%></div>
           </td>
         </tr>
         <% end %>
       </tbody>
     </table>
   </div>

   <div class="col-md-6">
      <table class="table table-striped table-hover " style="border-left: solid 0.5px grey; ">
        <thead>
          <tr> 
           <h3>Ordenes</h3> 
           <br>
         </tr>
       </thead>
       <tbody id="orders">
        <%= render @orders %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<div class="col-md-6">
  <%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>
    <ul>
      <% @request.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="field" >
   <h5>Comentario</h5>
   <div> 
     <%= f.text_area  :comment, size: "35x5" %>  
   </div>
 </div>

 <div>
  <%= f.submit nil, :class => 'btn btn-primary' %>
</div>
<% end %>
</div>
<div class="col-md-12 hotfix"></div>






     
