<% if current_user.admin? %>
<div class="col-md-10">
<h1>Productos</h1>

  
<div class="row">
<div class="btn btn-default" style="float: right; margin-right: 25px;">
<%= form_tag(products_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Buscar Producto" %>
    <%= submit_tag "Buscar", :name => nil %>
<% end %>
</div>
</div>
<br>
<br>

<div style="overflow-y: scroll; height: 300px; border: 1px dashed #bebebe;"  class="table-responsive">
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag(product.photo, size: "60x40") %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.category.name %></td>
        <td><%= link_to '', edit_product_path(product),:id => "button_id", :class => "btn btn-primary glyphicon glyphicon-refresh" %></td>
        <td><%= link_to '', product, method: :delete, data: { confirm: 'Are you sure?' },:id => "button_id", :class => "btn btn-danger glyphicon glyphicon-trash"  %></td>
      </tr>
    <% end %>
  </tbody>

</table>
</div>
<% end %>







<style>

            
</style>